/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
}

.fa {
     padding: 20px;
     font-size: 50px;
/*     width: 30px;*/
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
     background-color: #808080;
}

a.fa {
     color: #FFFFFF;
}

.fa:hover {
     color: #000000;
     text-decoration: none;
}

/*.jumbotron-container:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;*/
}

/*#project1 {
     margin: 50px;
}*/

#profile {
     margin-bottom: 20px;
}

#profile-pic {
     display: block;
     margin: 0 auto;
/*     width: 50%;*/
}

.project {
     position: relative;
}

.project-text {
     display: none;
}

.nav-item {
     right: 0px;
}

.contact {
     margin-left: 20px;
     margin-right: 20px;
}

